<div class="overlaycontainer"  (click)='back()'>
    <div class="overlayspacer"></div>
    <div class="overlay" id="contentoverlay">
        <app-content-header [header-content]="content"></app-content-header>
        <div class="spacerbackground">
        </div>
        <div id="contentsidebyside" (click)='catchClickOnContent($event)'>
            <div id="left" class="textbackground">
                <div class="textcontent">
                    <div *ngFor="let entry of entries | async; index as i" class="entryindex" (click)="scrollTo(i)">
                        <p>{{ entry.title }}</p>
                    </div>
                </div>
            </div>
            <div class="spacerbackground" id="betweenleftandright">
            </div>
            <div id="right" class="textbackground" #textbackground>
                <div class="textcontent" #textcontent>
                    <div *ngFor="let entry of entries | async; index as i" #id_{{i}} id=id_{{i}} class="entrycontent">
                        <app-vita-entry [entry]="entry"></app-vita-entry>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
