#topnav {
  height: 4em;
  width: 100%;
  display: flex;
}

.headertext {
  flex-grow: 1;
  height: 4em;
}

.masterheadertext {
  padding: unset;
  height: 100%;
  font-size: xx-large;
  opacity: 0.8;
  margin-top: 0.15em;
  margin-left: 1rem;
}

.backbox {
  position: relative;
  height: 100%;
  width: 4em;
  justify-content: center;
  align-items: center;
  max-height: 4em;
}

.backbutton {
  margin-top: 13%;
  height: 74%;
  fill: white;
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
}

.durationbutton {
  margin-top: 5%;
  fill: white;
  height: 90%;
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
}
