#backBox {
  position: relative;
  height: 100%;
  width: 10vh;
  float: left;
  border: 10%;
}
#backBtn {
  margin: 1.5em 1.5em 1.5em 1.0em;
  fill: white;
  opacity: 0.9;
}

.overlaycontainer {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
}

.overlayspacer {
  height: 5vh;
}

.overlay, .welcomeoverlay {
  position: relative;
  opacity: 0.87;
  width: 80%;
  margin: auto;
  max-width: 70em;
  padding: unset;
}

.textbackground {
  background: darkblue;
  color: white;
  border-top: 1em;
  border-left: 1em;
}

.textcontent {
  padding: 1em;
  font-size: large;
}

.entry-header {
  font-size: x-large;
  margin-bottom: 0.3em;
}

.entrycontent {
  opacity: 1;
}

.entrycontent + .entrycontent {
  border-top: 1px solid #ccc;
  margin-top: 0.7em;
  padding-top: 0.5em;
}

div.entryindex + div.entryindex {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #ccc;
}

.entryindex {
  opacity: 1;
  cursor: pointer;
}

.symbol {
  display: none;
}

.vitalist {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  padding-inline-start: 1em !important;
}

.vitalistitem {
  margin-top: 0.2em;
}

.vitasentence {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.nobullet {
  list-style-type: none;
}

.vitalistitem + .nobullet {
  margin-block-start: 0em;
}

#contentsidebyside {
  display: flex;
  height: calc(90vh - 4em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#left {
  flex: 0 0 35%;
}

.spacerbackground {
  min-width: 1em;
  min-height: 1em;
  opacity: 0.6;
  background: darkblue;
}

#right {
  flex: 1;
  overflow-y: auto;
}

.durationline {
  margin: 1em 1em 1em 0;
  padding-left: 18px;
  display: flex;
  cursor: pointer;
}

.durationimage {
  width: 4em;
}

.durationtext {
  padding: 1em;
  font-size: large;
}

@media (orientation: portrait)
{
  #left {
    display: none;
  }
  #betweenleftandright {
    display: none;
  }
}

