#backBox {
  position: relative;
  height: 100%;
  width: 10vh;
  float: left;
  border: 10%;
}

#backBtn {
  margin: 1.5em 1.5em 1.5em 1.0em;
  fill: white;
  opacity: 0.9;
}

.overlaycontainer {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
}

.overlayspacer {
  height: 5vh;
}

.overlay {
  position: relative;
  opacity: 0.87;
  width: 80%;
  margin: auto;
  max-width: 70em;
  padding: unset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbackground {
  background: darkblue;
  color: white;
  border-top: 1em;
  border-left: 1em;
}

.textcontent {
  padding: 1em;
  font-size: large;
}

.entry-header {
  font-size: x-large;
  margin-bottom: 0.3em;
}

.entrycontent {
  opacity: 1;
}

.entrycontent + .entrycontent {
  border-top: 1px solid #ccc;
  margin-top: 0.7em;
  padding-top: 0.5em;
}

div.entryindex + div.entryindex {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #ccc;
}

.entryindex {
  opacity: 1;
  cursor: pointer;
}

.symbol {
  display: none;
}

.vitalist {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  padding-inline-start: 1em !important;
}

.vitalistitem {
  margin-top: 0.2em;
}

.vitasentence {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.nobullet {
  list-style-type: none;
}

.vitalistitem + .nobullet {
  margin-block-start: 0em;
}

#contentsidebyside {
  display: flex;
  height: calc(88vh - 4em - 1em);
}

#welcomecontent {
  display: flex;
  height: 88vh;
}

#left {
  flex: 0 0 35%;
  overflow-y: auto;
}

.spacerbackground {
  min-width: 1em;
  min-height: 1em;
  opacity: 0.6;
  background: darkblue;
}

#right {
  flex: 1;
  overflow-y: auto;
}

.durationline {
  margin: 0.5em;
  padding: 0.5em 0.5em 0.5em 0;
  padding-left: 18px;
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
}

.durationline:hover
{
  border: 1px solid #eee;
}

.durationimage {
  width: 3.2em;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  color: white;
}

.durationtext {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0em 1em 0em 1em;
  font-size: large;
}

@media (orientation: portrait)
{
  #left {
    display: none;
  }
  #betweenleftandright {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  #contentsidebyside {
    height: calc(85vh - 4em - 1em);
  }
  
  .masterheadertext {
    margin-top: 0.25em !important;
    margin-left: 0.5rem !important;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  #contentsidebyside {
    height: calc(84vh - 4em - 1em);
  }  
  #welcomecontent {
    height: 80vh;
  }
  
  .masterheadertext {
    margin-top: 0.25em !important;
    margin-left: 0.5rem !important;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait),
only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait),
only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  .durationimage {
    min-width: 3.2em;
    width: unset;
  }

  .durationtext {
    font-size: medium;
  }
  
  .textcontent {
    font-size: medium;
  }
  
  .entry-header {
    font-size: large;
  }

  #contentsidebyside {
    height: calc(77vh - 4em);
  }

  #welcomecontent {
    height: 77vh;
  }
  
  .masterheadertext {
    margin-top: 0.25em !important;
    margin-left: 0.5rem !important;
  }
}
