<div class="overlaycontainer"  (click)='back()'>
    <div class="overlayspacer"></div>
    <div class="overlay" id="contentoverlay">
        <div (swipeleft)="onSwipeLeft($event,-5)" (swiperight)="onSwipeRight($event,5)">
            <app-content-header [header-content]="content"></app-content-header>
            <div class="spacerbackground">
            </div>
        </div>
        <div id="contentsidebyside" (click)='catchClickOnContent($event)'>
            <div id="left" class="textbackground" (swipeleft)="onSwipeLeft($event,-3)" (swiperight)="onSwipeRight($event,3)">
                <div class="textcontent">
                    <div *ngFor="let entry of entries | async; index as i" class="entryindex" (click)="scrollTo(i)">
                        <p>{{ entry.title }}</p>
                    </div>
                </div>
            </div>
            <div class="spacerbackground" id="betweenleftandright">
            </div>
            <div id="right" class="textbackground style-7" #textbackground (swipeleft)="onSwipeLeft($event,-2)" (swiperight)="onSwipeRight($event,2)">
                <div class="textcontent" #textcontent tabindex="-1">
                    <div *ngFor="let entry of entries | async; index as i" #id_{{i}} id=id_{{i}} class="entrycontent">
                        <app-vita-entry [entry]="entry"></app-vita-entry>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
