#backBox {
  position: relative;
  height: 100%;
  width: 10vh;
  float: left;
  border: 10%;
}

.overlaycontainer {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
}

.overlayspacer {
  height: 5vh;
}

.overlay {
  position: relative;
  opacity: 0.92;
  width: 80%;
  margin: auto;
  max-width: 70em;
  padding: unset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbackground {
  background: #04141b;
  color: #eef1f3;
}

.textcontent {
  padding: 0.5em;
  font-size: large;
}

.entry-header {
  font-size: x-large;
  margin-bottom: 0.3em;
}

.entrycontent {
  opacity: 1;
  user-select: text;
  padding-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: default;
}

.entrycontent + .entrycontent {
  border-top: 1px solid #ffffff80;
  margin-top: 1.2em;
}

.entryseparator {
  height: 1px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: #ffffff80;
}

.entryinner {
  margin: 0.1em;
  padding: 0.4em;
}

.entryindex {
  opacity: 1;
  cursor: pointer;
}

.symbol {
  display: none;
}

#contentsidebyside {
  display: flex;
  height: calc(88vh - 4em - 1em);
}

#left {
  flex: 0 0 35%;
  display: flex;
  flex-flow: column;
}

.spacerbackground {
  min-width: 1em;
  min-height: 1em;
  opacity: 0.8;
  background: #04141b;
}

#right {
  flex: 1;
  overflow-y: auto;
  touch-action: pan-y !important;
}

a {
  color: #eef1f3;
}

#topnav {
  height: 4em;
  width: 100%;
  display: flex;
}

.headertext {
  flex-grow: 1;
  height: 4em;
}

.masterheadertext {
  padding: unset;
  height: 100%;
  font-size: xx-large;
  opacity: 0.8;
  margin-top: 0.15em;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.backbox {
  position: relative;
  height: 100%;
  width: 4em;
  justify-content: center;
  align-items: center;
  max-height: 4em;
  fill: #bbbbbb;
}

.morebutton {
  width: 2.5em;
  justify-content: right;
  max-height: 1.7em;
  opacity: 0.8;
  order: 2;
}

.topicview
{
  flex: 1;
  overflow-y: auto;
  touch-action: pan-y !important;
}

.topicmore {
  padding: 0.5em 1em 0.25em 1em;
  font-size: large;
  cursor: pointer;
  display: flex;
  background: #ffffff10;
  fill: #bbbbbb;
  color: #bbbbbb;
}

.topicmore:hover {
  background: #ffffff20;
  fill: #eef1f3;
  color: #eef1f3;
}

.topicmoretext {
  flex: 1;
  order: 1;
}

.contentmore {
  display: flex;
  cursor: pointer;
  fill: #bbbbbb;
  color: #bbbbbb;
}

.contentmoretext {
  flex: 1;
}

.backbutton {
  margin-top: 13%;
  height: 74%;
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
}

*:focus {
  outline: none;
}

.style-7::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #283335;
    border-radius: 10px;
}

.style-7::-webkit-scrollbar
{
    width: 10px;
    background-color: #283335;
}

.style-7::-webkit-scrollbar-thumb
{
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(94, 97, 103)),
                                       color-stop(0.72, rgb(134, 130, 132)),
                                       color-stop(0.86, rgb(94, 97, 103)));
}

@media (pointer:fine)
{
  .backbox:hover {
    background: #ffffff20;
    fill: #eef1f3;
    color: #eef1f3;
  }

  .entryinner:hover {
    background-color: #ffffff20;
    border-top: none;
  }
}

@media not -webkit-device-pixel-ratio
{
  .style-7
  {
    scrollbar-width: thin;
  }
}

@media (orientation: portrait)
{
  #left {
    display: none;
  }
  #betweenleftandright {
    display: none;
  }
}

@media not all and (orientation: portrait)
{
  .contentmore {
    display: none !important;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  #contentsidebyside {
    height: calc(85vh - 4em - 1em);
  }
  
  .masterheadertext {
    margin-top: 0.25em !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    font-size: xx-large;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  #contentsidebyside {
    height: calc(84vh - 4em - 1em);
  }  
  
  .masterheadertext {
    margin-top: 0.25em !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    font-size: xx-large;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait),
only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait),
only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  
  .textcontent {
    font-size: medium;
  }
  
  .entry-header {
    font-size: x-large;
  }

  #contentsidebyside {
    height: calc(77vh - 4em);
  }

  .masterheadertext {
    margin-top: 0.5em !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    font-size: x-large;
  }
}
