.vitalist {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  padding-inline-start: 1em !important;
}

.vitalistitem {
  margin-top: 0.2em;
}

.vitasentence {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.ve_paragraph + .ve_paragraph {
  margin-block-start: 0.4em;
}

.ve_list + .ve_paragraph {
  margin-block-start: 0.7em;
}

.ve_paragraph + .ve_link {
  margin-block-start: 0.4em;
}

.vitalink {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.vitalink a {
  text-decoration: none;
}

.vitalinksymbol {
  width: 0.77em;
  height: 1em;
}

.nobullet {
  list-style-type: none;
}

.vitalistitem + .nobullet {
  margin-block-start: 0em;
}
