<div class="overlay">
    <div id=topnav class="textbackground" (click)='back()'>
        <div class="textcontent">
            {{content}}
        </div>
    </div>
    <div class="spacerbackground">
    </div>
    <div id="contentsidebyside">
        <div id="left" class="textbackground">
            <div class="textcontent">
                left side div
            </div>
        </div>
        <div class="spacerbackground">
        </div>
        <div id="right" class="textbackground">
            <div class="textcontent">
                right side div
            </div>
        </div>
</div>
</div>
