#backBox {
  position: relative;
  height: 100%;
  width: 10vh;
  float: left;
  border: 10%;
}
#backBtn {
  margin: 1.5em 1.5em 1.5em 1.0em;
  fill: white;
  opacity: 0.8;
}

.overlay {
  position: relative;
  opacity: 0.8;
  width: 80%;
  left: 10%;
  padding: unset;
}

.textbackground {
  background: darkblue;
  color: white;
  border-top: 1em;
  border-left: 1em;
}

.textcontent {
  padding: 1em;
  font-size: large;
}

.entrycontent {
  opacity: 1;
}

.entrycontent + .entrycontent {
  margin-top: 1em;
}

.entryindex {
  opacity: 1;
}

#contentsidebyside {
  display: flex;
  height: 75vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topnav {
  height:10vh;
  width: 100%;
}

#left {
  flex: 0 0 35%;
}

.spacerbackground {
  min-width: 1em;
  min-height: 1em;
  opacity: 0.6;
  background: darkblue;
}

#right {
  flex: 1;
  overflow-y: auto;
}
