.whoami {
  font-size: 4.0em;
  color: #bcbdc3;
  text-shadow: 2px 2px 6px #36301f;
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 30%;
  cursor: default;
  user-select: none;
  line-height: 95%;
  font-family: 'Ubuntu';
}

.whoamisub {
  font-size: 4.0em;
  font-size: x-large;
  text-shadow: 1px 1px 3px #36301f;
  padding-top: 0.00em;
  padding-left: 0.15em;
}

.poitext {
  position: fixed;
  font-size: large;
  padding: 0.2rem 0.6rem 0.2rem 0.5rem;
  color: #bcbdc3;
  text-shadow: 1px 1px 3px #9c9da3;
  font-weight: 500;
  border-radius: 8px;
  opacity: 1;
  cursor: default;
  user-select: none;
  transition: 0.3s;
  font-family: 'Ubuntu';
  background: #04141bc0;
  border-radius: 10px;
}

.flyPathHead {
  fill: none;
  stroke-width: 3;
  stroke: #FFA71BFF; 
  stroke-linecap: round;
  stroke-dasharray: 6 1500; 
}

.flyPathLine {
  fill: none;
  stroke-width: 1.2;
  stroke: #B8870B; 
  stroke-linecap: round;
  stroke-dasharray: 1510; 
  opacity: 0;
}

.flyPathPoi {
  opacity: 1;
}

.clickArea {
  fill: transparent;
  stroke-width : 1;
  transition: 0.3s;
}

.clickArea:hover {
  fill: #FFFFFF00;
  stroke : #FFFFFF00;
}
#aoiTechnologies:hover {
  fill: #FFFFFF00;
  stroke : #FFFFFF00;
}

@media (pointer:fine) {
  .clickArea:hover {
    fill:#FFFFFF3F;
    stroke : #FFFFFF3F;
  }
  #aoiTechnologies:hover {
    fill:#FFFFFF7F;
    stroke : #FFFFFF7F;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px),
only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px),
only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3) {
  .whoami {
    font-size: x-large;
  }

  .whoamisub {
    font-size: medium;
    padding-left: 0em;
  }

  .poitext {
    font-size: medium;
  }
}
